/**
 * Syntax highlighting styles
 */
.highlight {
    background: #000;
    @extend %vertical-rhythm;
    .c { color: #c2b680; background-color: #272822 } /* Comment */
    .err { color: #dcdccc; background-color: #272822 } /* Error */
    .g { color: #dcdccc; background-color: #272822 } /* Generic */
    .k { color: #ff6651; font-weight: bold } /* Keyword */
    .l { color: #dcdccc; background-color: #272822 } /* Literal */
    .n { color: #dcdccc; background-color: #272822 } /* Name */
    .o { color: #dcdccc; background-color: #272822 } /* Operator */
    .x { color: #dcdccc; background-color: #272822 } /* Other */
    .p { color: #dcdccc; background-color: #272822 } /* Punctuation */
    .cm { color: #c2b680; background-color: #272822 } /* Comment.Multiline */
    .cp { color: #c2aed0; background-color: #272822 } /* Comment.Preproc */
    .c1 { color: #75715e; background-color: #272822 } /* Comment.Single */
    .cs { color: #c2b680; background-color: #272822 } /* Comment.Special */
    .gd { color: #dcdccc; background-color: #8b0000 } /* Generic.Deleted */
    .ge { color: #d4b064; text-decoration: underline; background-color: #272822 } /* Generic.Emph */
    .gr { color: #f07070; background-color: #272822 } /* Generic.Error */
    .gh { color: #f7f7f1; font-weight: bold; background-color: #000000 } /* Generic.Heading */
    .gi { color: #dcdccc; background-color: #008b00 } /* Generic.Inserted */
    .go { color: #9f8f80; font-weight: bold; background-color: #272822 } /* Generic.Output */
    .gp { color: #dcdccc; background-color: #272822 } /* Generic.Prompt */
    .gs { color: #dcdccc; background-color: #272822 } /* Generic.Strong */
    .gu { color: #f7f7f1; font-weight: bold; background-color: #000000 } /* Generic.Subheading */
    .gt { color: #f07070; font-weight: bold; background-color: #272822 } /* Generic.Traceback */
    .kc { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Constant */
    .kd { color: #77d8eb; font-weight: bold; background-color: #272822 } /* Keyword.Declaration */
    .kn { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Namespace */
    .kp { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Pseudo */
    .kr { color: #e0af91; font-weight: bold; background-color: #272822 } /* Keyword.Reserved */
    .kt { color: #dabfa5; font-weight: bold; background-color: #272822 } /* Keyword.Type */
    .ld { color: #dcdccc; background-color: #272822 } /* Literal.Date */
    .m { color: #dcdccc; background-color: #272822 } /* Literal.Number */
    .s { color: #e6db6f } /* Literal.String */
    .na { color: #b5df5e; } /* Name.Attribute */
    .nb { color: #dcdccc; } /* Name.Builtin */
    .nc { color: #dcdccc; background-color: #272822 } /* Name.Class */
    .no { color: #afe091; background-color: #272822 } /* Name.Constant */
    .nd { color: #dcdccc; background-color: #272822 } /* Name.Decorator */
    .ni { color: #d4b064; background-color: #272822 } /* Name.Entity */
    .ne { color: #dcdccc; background-color: #272822 } /* Name.Exception */
    .nf { color: #dcdccc; background-color: #272822 } /* Name.Function */
    .nl { color: #dcdccc; background-color: #272822 } /* Name.Label */
    .nn { color: #dcdccc; background-color: #272822 } /* Name.Namespace */
    .nx { color: #ff6651; background-color: #272822 } /* Name.Other */
    .py { color: #dcdccc; background-color: #272822 } /* Name.Property */
    .nt { color: #ff6651; font-weight: bold } /* Name.Tag */
    .nv { color: #ff6651; background-color: #272822 } /* Name.Variable */
    .ow { color: #dcdccc; background-color: #272822 } /* Operator.Word */
    .w { color: #dcdccc; background-color: #272822 } /* Text.Whitespace */
    .mf { color: #c2a4f8; background-color: #272822 } /* Literal.Number.Float */
    .mh { color: #dcdccc; background-color: #272822 } /* Literal.Number.Hex */
    .mi { color: #c2a4f8; background-color: #272822 } /* Literal.Number.Integer */
    .mo { color: #dcdccc; background-color: #272822 } /* Literal.Number.Oct */
    .sb { color: #dcdccc; background-color: #272822 } /* Literal.String.Backtick */
    .sc { color: #dcdccc; background-color: #272822 } /* Literal.String.Char */
    .sd { color: #dcdccc; background-color: #272822 } /* Literal.String.Doc */
    .s2 { color: #e6db6f; background-color: #272822 } /* Literal.String.Double */
    .se { color: #dcdccc; background-color: #272822 } /* Literal.String.Escape */
    .sh { color: #dcdccc; background-color: #272822 } /* Literal.String.Heredoc */
    .si { color: #dcdccc; background-color: #272822 } /* Literal.String.Interpol */
    .sx { color: #dcdccc; background-color: #272822 } /* Literal.String.Other */
    .sr { color: #e6db6f; background-color: #272822 } /* Literal.String.Regex */
    .s1 { color: #dcdccc; background-color: #272822 } /* Literal.String.Single */
    .ss { color: #e6db6f; background-color: #272822 } /* Literal.String.Symbol */
    .bp { color: #dcdccc; background-color: #272822 } /* Name.Builtin.Pseudo */
    .vc { color: #dabfa5; background-color: #272822 } /* Name.Variable.Class */
    .vg { color: #dabfa5; background-color: #272822 } /* Name.Variable.Global */
    .vi { color: #dabfa5; background-color: #272822 } /* Name.Variable.Instance */
    .il { color: #dcdccc; background-color: #272822 } /* Literal.Number.Integer.Long */
}
